@import './element-variables.scss';
@import './element-ui.scss';
@import './layout.scss';
@import './variables.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
}

#app {
    height: 100%;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    // 自动填充时的字体颜色
    -webkit-text-fill-color: #fff !important;
    // 采用过渡的办法吃掉背景色, 网上都是这个办法
    transition: background-color 50000s ease-out 0.5s;
}

#nprogress .bar {
    background:#13C2C2;
  }

.box-shadow {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

