@import './variables.scss';
@import './element-ui.scss';
@import './layout.scss';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
    height: 100%;
}
  
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    -webkit-text-fill-color: #fff !important;
    transition: background-color 50000s ease-in-out 0.5s;
}

#nprogress .bar {
    background:#13C2C2;
}

//main-container全局样式
.main-container {
    padding: 10px;
}