$navbarHeight: 50px;

#app {
    .navbar-container {
        width:100vw;
        height:$navbarHeight;
        background-color: var(--cb-color-bg-primary,#fff);
        box-shadow: 0 2px 4px 0 var(--cb-color-shadow,rgba(0,0,0,0.16));
        position: fixed;
    }
    
    .app-wrapper {
        padding-top: $navbarHeight;
        display: flex;
    }

    .sidebar-container {
        transition: width 0.28s;
        height: calc(100vh - #{$navbarHeight});
        float: left;
        background-color: #f5f5f5;

        // reset element-ui css
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        .scrollbar-wrapper {
            overflow-x: hidden !important;
        }
    }

    .main-container {
        min-height: 100%;
        position: relative;
    }
}
